<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="PI" value = "3.14159265359" />
    <ros2_control type = "system" name = "RobotSystem">
        <xacro:if value = "$(arg is_ignition)">
            <hardware>
                <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            </hardware>
        </xacro:if>
        <xacro:unless value = "$(arg is_ignition)">
            <hardware>
                <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            </hardware>
        </xacro:unless>

        <joint name = "joint1">
            <command_interface name = "position">
                <param name = "min">-${PI / 2}</param>
                <param name = "max">${PI / 2}</param>
            </command_interface>
            <state_interface name = "position"/>
            <state_interface name = "velocity"/>
        </joint>

         <joint name = "joint2">
            <command_interface name = "position">
                <param name = "min">-${PI / 2}</param>
                <param name = "max">${PI / 2}</param>
            </command_interface>
            <state_interface name = "position"/>
            <state_interface name = "velocity"/>
        </joint>       
  
        <joint name = "joint3">
            <command_interface name = "position">
                <param name = "min">-${PI / 2}</param>
                <param name = "max">${PI / 2}</param>
            </command_interface>
            <state_interface name = "position"/>
            <state_interface name = "velocity"/>
        </joint>

        <joint name = "joint4">
            <command_interface name = "position">
                <param name = "min">-${PI / 2}</param>
                <param name = "max">${PI / 2}</param>
            </command_interface>
            <state_interface name = "position"/>
            <state_interface name = "velocity"/>
        </joint>

        <joint name = "joint5">
            <command_interface name = "position">
                <param name = "min">-${PI / 2}</param>
                <param name = "max">${PI / 2}</param>
            </command_interface>
            <state_interface name = "position"/>
            <state_interface name = "velocity"/>
        </joint>

        <joint name="joint_R_gear">
            <command_interface name="position">
                <param name="min">0</param>
                <param name="max">${PI/2}</param>
            </command_interface>
            <state_interface name = "position"/>
            <state_interface name = "velocity"/>
        </joint>   

        <joint name="joint_L_gear">  
            <param name="mimic">joint_R_gear</param>
            <param name="multiplier">1</param>
        </joint>  

        <joint name="joint_L_arm">  
            <param name="mimic">joint_R_gear</param>
            <param name="multiplier">-1</param>
        </joint>  

        <joint name="joint_R_arm">  
            <param name="mimic">joint_R_gear</param>
            <param name="multiplier">-1</param>
        </joint>  

        <joint name="joint_L_pivot">  
            <param name="mimic">joint_R_gear</param>
            <param name="multiplier">-1</param>
        </joint>  

        <joint name="joint_R_pivot">  
            <param name="mimic">joint_R_gear</param>
            <param name="multiplier">1</param>
        </joint>  
    
    </ros2_control>

    <gazebo>
        <xacro:if value = "$(arg is_ignition)">
              <plugin filename = "ign_ros2_control-system" name = "ign_ros2_control::IgnitionROS2ControlPlugin">
                <parameters>$(find robot_control)/config/robot_controllers.yaml</parameters>
              </plugin>
        </xacro:if>
        <xacro:unless value = "$(arg is_ignition)">
            <plugin filename = "gz_ros2_control-system" name = "gz_ros2_control::GazeboSimROS2ControlPlugin">
                <parameters>$(find robot_control)/config/robot_controllers.yaml</parameters>
            </plugin>
        </xacro:unless>
    </gazebo>





</robot>